.container {
  padding: 0;
  color: #FFF;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid rgba(126,152,176,0.2);
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,0.1);
  color: #7E99B0;
}

.footer a {
  color: #06D3D7;
  margin-left: 7px;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  letter-spacing: 3px;
  margin: -80px 0 0 0;
  /* text-transform: uppercase; */
  font-size: 2.6rem;
  color: #06D3D7;
  font-weight: 700;
  font-family: 'MonumentExt', 'Inter';
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 20px 0 0 0;
  line-height: 1.4;
  font-size: 1.7rem;
  font-weight: 200;
  max-width: 800px;
}

.logo {
  transform: scale(8);
  position: fixed;
  top: 40px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
